<h1>{{title}}</h1>
<!--interpolacja-->
<img height ="100px" src="assets/images/zdj1.jpg" alt="jakis">
<br>
<img height ="100px" src={{urlZdj1}} *ngIf = "aktywne else brakZdjecia">
<img  height ="100px" [src]="urlZdj2" *ngIf = aktywne>
<button type="button" (click)="zmiana()"></button>
<ng-template #brakZdjecia>
  <img src={{brak}}>
</ng-template>
<!--[] wiązanie danych z typeScript do html-->
<button type="button" (click)="zwieksz()">{{licznik}}</button>
<!--() wiązanie od html do ts-->
<input type="number" [(ngModel)]="licznik">
<!--[()] wiązanie dwukierunkowe skrzynka z banami-->
<br>
<h3 [ngStyle]="{'background-color':kolory[wybrany]}"> Kursy programowania </h3>
<ol>
  <li *ngFor="let kurs of kursyProgramowania">{{kurs}}</li>
</ol>
<button type="button" (click)="formatuj()" >Zmień kolor</button>
<p [ngClass] ="'a c'">Pierwszy tekst sfromatowany</p>
<p [ngClass] ="'a b c'">Drugi tekst sfromatowany</p>
<p class="a b">Jakiś tekst bez ngClass</p>
<p>Wybierz kurs którego szczegóły chcesz wyświetlić
  <select [(ngModel)]=wybranyKurs>
    <option *ngFor="let kurs of kursy, 
      let wybranyKurs = index" value="{{wybranyKurs}}">
      {{wybranyKurs}} 
      {{kurs.getTytul()}}</option>
  </select>
</p>
<p>{{wybranyKurs}}</p>
<app-kurs [aktualny]="wybranyKurs"></app-kurs>
